@page "/"

<section class="h-100">
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <h2>virus-tortoise</h2>
            </div>
        </div>
    </header>
</section>